﻿@model StudentService_Data.Student
@{
    ViewBag.Title = "CreateStudent";
}
<h2>Add Entity View</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
        type="text/javascript"></script>
@using (Html.BeginForm("AddEntity", "Student", FormMethod.Post, new
{
    enctype =
"multipart/form-data"
}))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Student</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.RowKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RowKey)
            @Html.ValidationMessageFor(model => model.RowKey)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <input type="file" id="studentPicture" name="file" />
        <p>
            <input type="submit" value="Create" />
            
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
